.about .profession-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 768px;
    height: 1700px;
    overflow: hidden;
    pointer-events: none;
}

.about .profession-container .profession-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionRotate 13s ease-out infinite;
    
}

.profession-box .profession {
    position: absolute;
    left: 0;
    transform-origin: 384px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-color);
    background: var(--bg-color);
    padding: 13px 0;
}

.about .profession-box .profession:nth-child(1){ /*automus driving*/
    transform: rotate(90deg) translate(321px, 292px);
}

.about .profession-box .profession:nth-child(1){
    margin-right: 0;
}

.about .profession-box .profession:nth-child(2){ /*Image processing*/
    transform: rotate(180deg) translate(310px, 288px);
}

.about .profession-box .profession:nth-child(3){ /*Holder Gripper*/
    transform: rotate(270deg) translate(310px, 289px);
}

.about .profession-box .profession:nth-child(4){ /*Bilemedim*/
    transform: rotate(0deg) translate(310px, 294px);
}

.about .profession h3 {
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;
}

.about-overlay {  
    position: relative; 
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 30px solid var(--main-color);
    border-bottom: 250px solid transparent;
    border-right: 960px solid var(--main-color);
    border-left: 960px solid var(--main-color);
}

.about-overlay .logo {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: -15rem;
    top: 7rem;
}

.about {
    padding-right: 15rem;
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-direction: column;
}

.heading {
    font-size: 4.5rem;
    text-align: left;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.about {
    padding-bottom: 10rem;
}

.about h2 {
    margin-bottom: 4rem;
    margin-top: 4rem;
    text-align: left;
}

.about .about-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.about-container .about-box {
    position: relative;
    padding-bottom: 2rem;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    flex-direction: column;
}

.about-img img {
    width: 70vw;
    margin-top: -2rem;
}

.about-box:hover img {
    transform: scale(1.1);
}

.about-box .about-layer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    /* opacity: 0;
    transition: .5s ease; */
}

.about-box:hover .about-layer {
    opacity: 1;
}

.about-layer h4 {
    font-size: 3rem;
}

.about-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.about-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--white-color);
    border-radius: 50%;
}

.about-layer a i {
    font-size: 2rem;
    color: #333;
}

@keyframes professionRotate{
    0%, 20% {
        transform: rotate(0deg);
    }
    25%, 45% {
        transform: rotate(-90deg);
    }
    50%, 70% {
        transform: rotate(-180deg);
    }
    75%, 95% {
        transform: rotate(-270deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}